li{
    list-style: none;
}
a{
    text-decoration: none;
}

body{
font-family: 'Times New Roman','Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif;
    
    background-color: #f1eee7;
    
}
.blog-header{
 background-color: white
}
.welcome-page{
    background-color: white;
}
.welcome-btn{
    transition: 0.5s;
}
/*login*/
.login-form{
    background-color: white;
}
.login {
  margin: 0;
  padding: 0;
 background-color: white;
 
}
.login-text{
    color: black;
    
}
#login .container #login-row #login-column #login-box {
 
  max-width: 600px;
  
  border: 1px solid #9C9C9C;
  background-color: #FFFAF2;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

/*redister*/



/*header　*/


.menu_list{
    list-style: none;
    display: flex;
   color: black;
   background-color: #ffae27;
}
.menu{
  flex-grow: 1;
  text-align: center;
  color: white;
  text-decoration: none;
  transition: all 0.6s;
}
.menu a{
    text-decoration: none;
    color: inherit;
}
.menu + .menu{
  border-left: 1px solid #000;
}
.menu:hover{
    text-decoration: underline;
}
.logout-btn{
    transition: 0.5s;
}


/*footer*/
.footer{
    background-color: #333333;
}


/*party.blade */
.content-title{
    text-align: center;
  
}
.create_btn{
    font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  background-color: white;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  border: 2px solid #ffae27;
  text-decoration: none;
  color: #ffae27;
}
.create_btn:hover{
    background: #ffae27;
  color: #fff;
}
.create_btn:active{
    top: 2px;
}

.parties{
    background-color: white;
}
.party{
    list-style: none;
}
.party + .party{
    border-top:1px solid #666;
}
.show_btn a{
     background: #fcf8e4;
    border-radius: 50px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 260px;
    padding: 10px 25px;
    color: #ffae27;
    transition: 0.3s ease-in-out;
    
}
.show_btn a:hover{
    background: #ffae27;
    color: white;
}
.show_btn a:after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #313131;
    border-right: 3px solid #313131;
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    top: 50%;
    right: 20px;
    border-radius: 1px;
    transition: 0.3s ease-in-out;
}
.show_btn a:hover:after {
    border-color: #FFF;
}
.paginate{
    display: inline-block;
   margin-left: auto;
   margin-right: auto;
}

/*party.show.blade*/
.party_info{
    background-color: white;
}
.type{
    background-color: #C0C0C0;       /* 背景色の指定 */
   border-radius: 1em;          /* 角丸の指定 */
   color: white;
   
}
.probability p{
    position: relative;
    display: inline-block;
    padding: 15px 50px 15px 40px;
    color: #ffffff;
    border-radius: 35px 0 0 35px;
    background:#FFCC00;
    
}
.probability p:before{
        position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ffffff;

}
.probability{
    text-align: center;
    border-color: orange;
}

.switch_label {
  position: relative;
  display: flex;
  align-items: center;
}
.switch_label input{
  position: absolute;
  width: 0;
  height: 0;
}
.base {
   width: 56px;
  border-radius: 15px;
  height: 32px;
  background-color: #fcdc5c;
}
.title {
 font-size: 15px;
}
input:checked ~ .base {/*トグルスイッチに反応して背景の変更*/
  background-color: #ffae27;
  transition: 0.5s;
}
.circle {
   position: absolute;
  top: 4px;
  left: 4px;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: #ffae27;
}
input:checked ~ .circle {
  transform: translateX(100%);
  background-color: white;
  transition: 0.5s;
}
.switch {
  position: relative;
}

.memo{
     border-bottom: dashed 2px #6594e0;
}
.winrate{
    color: #fffffb;
  margin:1.4em 0;
  padding: 0.3em 0 0.3em 0.5em;
  background: #239dda;
  border-radius: 30px 0px 0px 30px;
  box-shadow: 0 5px 3px #c8baa7;
}
.winrate::before{
    color: #fffffb;
  content: '●';
}
.pokemon_name{
    font-size: 25px;
    font-family: serif;
}
/*create.party.blade*/
.create-party{
    background-color: white;
}
.create-border{
     border-bottom: dashed 2px #6594e0;
}
.btn-submit{
display       : inline-block;
  border-radius : 10%;          /* 角丸       */
  
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 14px;   /* 余白       */
  background    : #007FFD;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  border: none;
}
.create-list ul{
    text-align: left;
}

/*edit.blade.*/
.edit-party{
    background-color: white;
}


/* history*/
.single{
  color: #fffffb;
  margin:1.4em 0;
  padding: 0.3em 0 0.3em 0.5em;
  background: #239dda;
  border-radius: 30px 0px 0px 30px;
  box-shadow: 0 5px 3px #c8baa7;
}
.single::before{
  color: #fffffb;
  content: '●';
}
/*footer*/
.blog_footer{
    background-color:#1a1a1a; 
}